:root {
  color-scheme: light dark;
}

:root {
  --bg-color: light-dark(#ffffff, #222222);
  --bg-color-opa: light-dark(#ffffff80, #22222280);
}

:root {
  --selection-bg-color: light-dark(#00000033, #ffffff33);
}

:root {
  --scroll-bar-thumb-bg-color: light-dark(#333333, #bbbbbb);
}

:root {
  --text-color: light-dark(#111111, #eeeeee);
  --text-opa-color: light-dark(#00000080, #ffffff80);
}

:root {
  --dev-span-bg-color: light-dark(#545454, #bbbbbb);
  --dev-span-text-color: light-dark(#eeeeee, #222222);
}

:root {
  --dev-code-bg-color: light-dark(#e8e8e8, #2b2b2b);
}

:root {
  --input-bd-color: light-dark(#444444, #cccccc);
  --home-link-input-error-color: light-dark(#d32525, #ff6b6b);
}

/* btn */
:root {
  --btn-hover-bg-color: light-dark(#d9dbf3, #2e2a8c);
  --btn-border-color: light-dark(#2e2a8c, #6e7ded);
  --btn-active-border-color: light-dark(#2545c5, #8faeff);
  --btn-active-bg-color: light-dark(#c0bef1, #1c235a);
}

:root {
  --dev-active-btn-bg-color: light-dark(#3632b0, #5b5fd9);
  --dev-active-btn-text-color: light-dark(#eeeeee, #222222);
}

:root {
  --copy-msg-bg-color: light-dark(#999999aa, #666666aa);
}
