.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 50px;
  width: 100%;
}

.container.container_content {
  max-width: 900px;
  flex: 1 1;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 20px;
  }
}
