@import url('../../style/utils/list.css');
@import url('../../style/utils/display.css');

.container_header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-opa) !important;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header {
  height: 80px;
}

.logo a {
  font-size: 1.5em;
  font-weight: 700;
}

.header_links > * {
  color: var(--text-opa-color);

  &:hover {
    color: var(--text-color);
  }
}
